.orderItem {
  width: 100%;
  background-color: var(--color-white-0);
  border-radius: var(--rounded-md);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.2s;
  border: var(--border-100) solid var(--color-gray-100);

  &:hover {
    box-shadow: var(--shadow-md);
  }

  .orderItemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;

    .orderInfo {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .orderId {
        display: flex;
        flex-direction: column;
        font-size: 2.2rem;
        font-weight: 500;

        .orderIdHeading {
          font-size: 1rem;
          color: var(--color-gray-400);
        }
      }

      .orderDetails {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.2rem;

        .item {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .key {
            display: none;
            color: var(--color-gray-400);
          }

          .value {
            color: var(--color-gray-800);
          }
        }
      }
    }

    .orderAmount {
      display: flex;
      flex-direction: column;
      font-size: 2rem;

      .key {
        color: var(--color-gray-400);
        font-size: 1rem;
      }

      .value {
        color: var(--color-gray-800);
      }
    }
  }

  .seperator {
    border: none;
    border-top: var(--border-100) solid var(--color-gray-100);
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .item {
      display: flex;
      gap: 2rem;
      padding-block: 1rem;

      .productImg {
        height: 8rem;
        width: 8rem;
        border-radius: var(--rounded-lg);
        border: var(--border-100) solid var(--color-gray-100);
        overflow: hidden;
        padding: 0.5rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .productInfo {
        display: flex;
        flex-direction: column;
        flex: 2;
        width: 100%;
        overflow: hidden;

        .productBrand {
          font-weight: 500;
          color: var(--color-gray-500);
          font-size: 1.2rem;
        }

        .productTitle {
          width: 98%;
          font-weight: 400;
          font-size: 1.4rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .minDiscount {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.2rem;

          .numDiscount {
            color: var(--color-primary-500);
          }
        }

        .subInfo {
          display: flex;
          align-items: center;
          gap: 1rem;
          flex-wrap: wrap;

          .item {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .key {
              font-weight: 400;
              color: var(--color-gray-500);
              font-size: 1.2rem;
            }

            .value {
              font-weight: 400;
              font-size: 1.2rem;
            }

            .color {
              width: 1.2rem;
              height: 1.2rem;
              border-radius: var(--rounded-full);
              background-color: var(--color-black-0);
            }
          }

          .rateProduct {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: 600;
            color: var(--color-blue-600);
            cursor: pointer;
            font-size: 1.4rem;
          }
        }
      }

      .discount {
        display: none;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        flex: 1;

        .numDiscount {
          font-size: 1.3rem;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: var(--color-primary-500);
        }

        .numOgPrice {
          font-weight: 400;
          font-size: 1.6rem;
        }
      }

      .price {
        padding-inline: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .numPrice {
          font-weight: 500;
          font-size: 1.6rem;
          color: var(--color-green-600);
        }

        .numQuantity {
          font-weight: 400;
          color: var(--color-gray-500);
          font-size: 1.4rem;
        }
      }
    }
  }
}

/* MEDIA QUERIES */
@media (min-width: 460px) {
  .orderItem {
    .orderItemHeader {
      .orderInfo {
        .orderDetails {
          .item {
            .key {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 530px) {
  .orderItem {
    .orderItemHeader {
      .orderInfo {
        .orderId {
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;

          .orderIdHeading {
            font-size: inherit;
            color: inherit;
          }
        }
      }

      .orderAmount {
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        .key {
          font-size: inherit;
        }
      }
    }

    .items {
      .item {
        .productInfo {
          .minDiscount {
            display: none;
          }
        }

        .discount {
          display: flex;
        }
      }
    }
  }
}