.select {
  background-color: var(--color-white-0);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  outline: none;
  border: none;
  padding-inline: 1rem;
  width: 100%;
  cursor: pointer;
  border: var(--border-100) solid var(--color-gray-200);
  border-radius: var(--rounded-lg);
  font-size: 1.3rem;

  &::placeholder {
    font-size: 1.6rem;
  }

  &:focus {
    border-color: var(--color-gray-500);
  }

  option {
    font-size: 1.6rem;
  }
}