.products {
  width: 100%;

  .wrapper {
    width: 100%;
    display: flex;
    gap: 4rem;
    padding-block: 3rem;
    position: relative;
    padding-inline: 2rem;

    .left {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: fixed;
      height: 80vh;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 20;
      overflow-y: scroll;
      overflow-x: hidden;
      gap: 2rem;
      background-color: var(--color-white-0);
      padding: 5rem;
      border-top-left-radius: var(--rounded-lg);
      border-top-right-radius: var(--rounded-xl);
      box-shadow: var(--shadow-lg);
      transition: all 0.5s ease-in-out;

      .closeIcon {
        width: 4rem;
        height: 4rem;
        border-radius: var(--rounded-full);
        padding: 1rem;
        position: absolute;
        top: 1rem;
        right: 3rem;
      }

      .productsHeader {
        display: flex;
        flex-direction: column;
        border-bottom: var(--border-100) solid var(--color-gray-100);
        padding-block-end: 2rem;
        gap: 1rem;

        .heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;

          span {
            font-size: 2rem;
            font-weight: 500;
          }
        }

        .appliedFilterItems {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          flex-wrap: wrap;

          .filterItem {
            background-color: var(--color-black-0);
            color: var(--color-white-0);
            border-radius: var(--rounded-md);
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 0.8rem;
            cursor: pointer;

            .filterName {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }

            &:hover {
              opacity: 0.8;
              text-decoration: line-through;
            }
          }
        }
      }

      .filters {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .filter {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          border-bottom: var(--border-100) solid var(--color-gray-100);
          padding-block-end: 2rem;

          &:last-child {
            border-bottom: none;
            padding-block-end: 0;
          }

          .filterHeading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            font-size: 1.5rem;
            font-weight: 500;
          }

          .list {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-size: 1.4rem;
            font-weight: 400;

            .parentCategory.block {
              display: block;
            }

            .parentCategory.hidden {
              display: none;
            }

            .parentCategory.active {
              color: var(--color-gray-400);
            }

            .listItem {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              cursor: pointer;

              label {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
              }

              .starIcon {
                color: var(--color-gold);
              }
            }

            .subList {
              margin-top: 1rem;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              color: var(--color-black-0);

              .subListItem {
                padding: 0.2rem 2rem;
                cursor: pointer;
                border-radius: var(--rounded-md);

                &:hover {
                  background-color: var(--color-gray-100);
                }
              }

              .subListItem.active {
                background-color: var(--color-gray-100);
              }
            }

            .listItem.active {
              color: var(--color-black-0);
            }

            .listItem.inactive {
              color: var(--color-gray-400);
            }
          }
        }
      }
    }

    .left.open {
      transform: unset;
    }

    .left.close {
      transform: translateY(100%);
    }

    .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .options {
        width: 100%;
        padding-inline: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
      }

      .productItems {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;

        .shimmerProductItem {
          width: 100%;
          padding: 1rem;
          border-radius: var(--rounded-lg);

          .shimmerItemWrapper {
            width: 100%;

            .shimmerProductImg {
              width: 100%;
              height: 100%;
              aspect-ratio: 11 / 12;
              border-radius: var(--rounded-lg);
              margin-bottom: 1rem;
            }

            .shimmerTextSmall {
              height: 2rem;
              margin-bottom: 0.5rem;
              width: 40%;
              border-radius: var(--rounded-full);
            }

            .shimmerTextMedium {
              height: 2rem;
              margin-bottom: 0.5rem;
              width: 70%;
              border-radius: var(--rounded-full);
            }

            .shimmerTextLarge {
              height: 2rem;
              width: 90%;
              border-radius: var(--rounded-full);
            }
          }
        }

        .productItem {
          width: 100%;
          overflow: hidden;
          position: relative;
          padding: 1rem;
          border-radius: var(--rounded-lg);

          .itemWrapper {
            width: 100%;

            .productImgs {
              width: 100%;
              position: relative;
              margin-bottom: 1rem;

              .discountTag {
                position: absolute;
                top: 1rem;
                left: 1rem;
                z-index: 10;
                display: flex;
                align-items: center;
                color: var(--color-white-0);
                background-color: var(--color-primary-500);
                font-weight: 400;
                padding: 0.4rem 0.8rem;
                border-radius: var(--rounded-full);

                span {
                  font-size: 1.1rem;
                }

                .percentIcon {
                  width: 0.9rem;
                  height: 0.9rem;
                }
              }

              .arrowIcon {
                position: absolute;
                top: 50%;
                z-index: 10;
                transform: translateY(-50%);
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease;
                display: none;
              }

              .arrowIconLeft {
                left: 1rem;
              }

              .arrowIconRight {
                right: 1rem;
              }

              .arrowIconLeft.active,
              .arrowIconRight.active {
                display: inline-block;
              }

              .imgsSlider {
                width: 100%;
                position: relative;
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 100%;
                overflow-y: hidden;
                scroll-behavior: smooth;
                scrollbar-width: none;
                border-radius: var(--rounded-lg);
                scroll-behavior: smooth;
                width: 100%;
                overflow-x: auto;
                overscroll-behavior-inline: contain;
                scroll-snap-type: inline mandatory;

                &::-webkit-scrollbar {
                  display: none;
                }

                .img {
                  width: 100%;
                  height: 100%;
                  scroll-snap-align: start;
                  scroll-snap-stop: always;

                  img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 11 / 12;
                    object-fit: contain;
                    object-position: center;
                  }
                }
              }

              .heartIcon {
                position: absolute;
                background-color: var(--color-white-0);
                width: 22%;
                height: 20%;
                border-radius: var(--rounded-full);
                border: var(--border-100) solid var(--color-gray-100);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                bottom: 0;
                right: 0;
                transform: translateY(40%);
                box-shadow: var(--shadow-sm);
                cursor: pointer;

                .heartFill {
                  color: var(--color-red-500);
                }
              }
            }

            .productBrand {
              font-size: 1.1rem;
              color: var(--color-gray-500);
              display: flex;
              align-items: center;
              gap: 2px;
              font-weight: 500;

              .icon {
                color: var(--color-blue-500);
                font-size: 1.3rem;
              }
            }

            .productTitle {
              display: inline-block;
              width: 100%;
              font-size: 1.3rem;
              font-weight: 400;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-right: 1rem;
            }

            .productPrice {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              .originalPrice {
                color: var(--color-gray-500);
                text-decoration: line-through;
                font-weight: 400;
                font-size: 1.2rem;
              }

              .discountPrice {
                font-weight: 500;
                font-size: 1.6rem;
                color: var(--color-green-600);
              }
            }
          }
        }
      }
    }
  }
}

/* MEDIA QUERIES */
@media (min-width: 270px) {
  .products {
    .wrapper {
      .right {
        .productItems {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (min-width: 420px) {
  .products {
    .wrapper {
      .right {
        .productItems {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media (min-width: 530px) {
  .products {
    .wrapper {
      .left {
        width: 30%;
        display: flex;
        height: fit-content;
        position: sticky;
        top: 10rem;
        left: 0;
        transform: unset;
        transition: unset;
        box-shadow: unset;
        height: fit-content;
        z-index: 20;
        overflow-y: unset;
        overflow-x: unset;
        padding: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .closeIcon {
          display: none;
        }
      }

      .left.close {
        transform: translateY(0%);
      }

      .right {
        width: 70%;

        .productItems {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (min-width: 780px) {
  .products {
    .wrapper {
      .left {
        width: 20%;
      }

      .right {
        width: 80%;

        .productItems {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media (min-width: 1110px) {
  .products {
    .wrapper {
      .right {
        .productItems {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}

@media (min-width: 1282px) {
  .products {
    .wrapper {
      padding-inline: 0;

      .right {
        .productItems {
          .productItem {
            &:hover {
              box-shadow: var(--shadow);

            }

            .itemWrapper {
              .productImgs {
                &:hover>.arrowIcon {
                  visibility: visible;
                  opacity: 1;
                }

                .imgsSlider {
                  overflow-x: hidden;
                }
              }
            }
          }
        }
      }
    }
  }
}